*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
    html {
        font-size: 50%;
    }
}

body {
    font-family: "Nunito", sans-serif;
    color: #6d5d4b;
    font-weight: 300;
    line-height: 1.6;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: rgb(158, 11, 151);
        background: linear-gradient(45deg, rgba(128, 8, 122, 0.582),rgb(42, 1, 40));
        min-height: 100vh;
    }
}


a, a:active, a:link {
    text-decoration: none;
    cursor: pointer;
}